---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<header class="container max-w-3xl mx-auto flex items-center px-2 pt-14 pb-10">
	<nav>
		<h1 class="font-bold text-3xl mb-2"><a href="/">{SITE_TITLE}</a></h1>
		<div class="text-gray-600 mb-6">{SITE_DESCRIPTION}</div>
		<div>
			<HeaderLink href="/">글</HeaderLink>
			<HeaderLink href="/interests">관심사</HeaderLink>
			<HeaderLink href="/talks">이야기</HeaderLink>
			<HeaderLink href="/about">소개</HeaderLink>
		</div>
	</nav>
</header>