---

---

<button class='btn-toggle-round scroll-top js-scroll-top' type='button' title='Scroll to top'>
  <svg class='progress-circle' width='100%' height='100%' viewBox='-1 -1 102 102'>
    <path d='M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98'></path>
  </svg>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='icon icon-tabler icon-tabler-arrow-up'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    stroke-width='1.5'
    stroke='cuurentColor'
    fill='none'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
    <line x1='12' y1='5' x2='12' y2='19'></line>
    <line x1='18' y1='11' x2='12' y2='5'></line>
    <line x1='6' y1='11' x2='12' y2='5'></line>
  </svg>
</button>

<style>
  .smooth {
    transition: box-shadow 0.3s ease-in-out;
  }
  ::selection {
    background-color: aliceblue;
  }
  :root {
    ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #efefef;
      border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background: #d5d5d5;
      border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #c4c4c4;
    }
  }
  /*scroll to top*/
  .scroll-top {
    position: fixed;
    z-index: 50;
    padding: 0;
    right: 30px;
    bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: none;
    box-shadow: inset 0 0 0 2px #ccc;
    color: #ccc;
    background-color: #fff;
  }
  .scroll-top.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .scroll-top .icon-tabler-arrow-up {
    position: absolute;
    stroke-width: 2px;
    stroke: #333;
  }
  .scroll-top svg path {
    fill: none;
  }
  .scroll-top svg.progress-circle path {
    stroke: #333;
    stroke-width: 4;
    transition: all 0.4s ease;
  }
  .scroll-top:hover {
    color: var(--ghost-accent-color);
  }
  .scroll-top:hover .progress-circle path,
  .scroll-top:hover .icon-tabler-arrow-up {
    stroke: var(--ghost-accent-color);
  }
</style>
